// Typefaces
@font-face {
  font-family: 'RomanNormal';
  font-weight: normal;
  src: url('/fonts/29E748_0_0.eot');
  src: url('/fonts/29E748_0_0.eot?#iefix') format('embedded-opentype'),
    url('/fonts/29E748_0_0.woff') format('woff'),
    url('/fonts/29E748_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'RomanThin';
  font-weight: font-weight: 300;
  src: url('/fonts/29E748_0_0.eot');
  src: url('/fonts/29E748_0_0.eot?#iefix') format('embedded-opentype'),
    url('/fonts/29E748_0_0.woff') format('woff'),
    url('/fonts/29E748_0_0.ttf') format('truetype');
}

// Font Family variables
$font-regular: "RomanNormal", Helvetica, Arial, sans-serif;
$font-roman-thin: "RomanThin", Helvetica, Arial, sans-serif;

// Mixins
//-----------------------------------------------------------------------------
@mixin tracking($tracking) {
  $em: ($tracking / 1000);
  letter-spacing: $em + em;
}

